<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="./assets/img/crush.png" height="100" alt="Crush Brand" />
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/search" class="nav-item nav-link navbar-text text-white">Explore</a>
        <a href="/profile" class="nav-item nav-link navbar-text text-white">Profile</a>
      </div>
      <div class="navbar-nav ms-auto">
        <button id="logout" class="btn btn-link nav-item nav-link navbar-text text-white">Logout</button>
      </div>
    </div>
  </div>