<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <img src="./assets/img/crush.png" height="100" alt="Crush Brand" />
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link navbar-text text-white"
              >Home</a
            >
            <a href="/Search" class="nav-item nav-link navbar-text text-white"
              >Search</a
            >
            <a href="/message" class="nav-item nav-link navbar-text text-white"
              >Messages</a
            >
          </div>
          <div class="navbar-nav ms-auto">
            <a href="/profile" class="nav-item nav-link navbar-text text-white"
              >Profile</a
            >
            <a id="logout" class="nav-item nav-link navbar-text text-white"
              >Logout</a
            >
          </div>
        </div>
      </div>