 <div class="profile-card card mx-auto m-5"style="width: 18rem;" id="profile-card">
        <img class="card-img-top p-2" src="https://via.placeholder.com/300x300" alt="Card image cap" />
        <div class="card-body">  
          <h5 class="profile-name">Bob Smith, 30</h5>
          <h6 class="profile-location"><b>Birmingham</b></h3>
              <div class="profile-height"> <b>Height:</b> 1.80m</div>
              <div class="profile-build"><b>Build:</b> Slim</div>
              <div class="profile-serious"><b>Seriousness:</b> ❤️❤️❤️ 
              </div>
          <div class="profile-bio">
          <b>Bio:</b>  I'm young, I'm dumb and I hope you're the one
          </p>
        </div>
        <div class="profile-links">
            <button type="button" id="no" class="btn btn-danger" >No</button>
           <button type="button" id="view-more" data-id=1 class="btn btn-info"> View Profile </button>
                <button type="button" id="yes" data-id=1 class="btn btn-success">Yes</button>
            </div>
       </div>