<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="./assets/img/crush.png" height="100" alt="Crush Brand" />
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/" class="nav-item nav-link navbar-text text-white">Home</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a
          href="/signup"
          class="nav-item nav-link navbar-text text-white"
        >Signup</a>
        <a
          href="/login"
          class="nav-item nav-link navbar-text text-white"
        >Login</a>
      </div>
    </div>
  </div>
</nav>