<header>
  {{> public-navbar}}
</header>

    <main>
      <div class="video-container">
        <video id="video_background" autoplay loop muted preload="auto">
        <source src="./assets/img/crush.mp4" type="video/mp4">
        Video not supported 
        </video> 
          <section class="container" id="search-container">
            <div class="jumbotron-styling m-3" id="start-search">
              <h1 class="display-4 pink-text">Make the first move</h1>
              <p class="lead">
                Start meeting people in your area, If you have an account sign in to use Crush on the web.
              </p>
              <hr class="my-4" />
              <h5>Your match awaits your swipe-proval!</h5>
              <div class="profile-links mt-4">
                <a type="button" id="no" href="/login" class="btn text-btn" >Login</a>
                <a type="button" id="yes" href="/signup" class="btn text-btn">Signup</a>
              </div>
            </div>
          </section>
    </main>