<header>
  {{> public-navbar}}
</header>

<main class="container">
  <div class="mx-auto my-4 jumbotron-styling">
    <h3 class="text-center subheading-txt">Baby, if you were words on a page, you'd be fine print. </h3>
    <h2>Now, Login</h2>
    <hr />
    <form id="login-form" class="p-4">
      <div class="mb-3">
        <label for="email-input" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email-input"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" />
      </div>
      <button type="submit" class="btn btn-styling">Login</button>
    </form>
  </div>
</main>
