    <main>
      <div class="container">
        <div class="mx-auto my-4 jumbotron-styling">
          <h1 class="text-center">Sign Up Form</h1>
          <hr />
          <form id="signup-form" class="p-4">
            <div class="row">
              <div class="mb-3 col-md-6 col-12">
                <label for="name-input" class="form-label">Name</label>
                <input type="text" class="form-control" id="name-input" />
                <div class="form-text error" id="name-error"></div>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="email-input" class="form-label">Email</label>
                <input type="email" class="form-control" id="email-input"/>
                <div class="form-text error" id="email-error"></div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6 col-12">
                <label for="password-input" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password-input"
                />
                <div class="form-text error" id="password-error"></div>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="confirm-password-input" class="form-label">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword-input"
                />
                <div class="form-text error" id="confirmPassword-error"></div>
              </div>
            </div>
            
            <div class="row">
              <div class="mb-3 col-md-6 col-12">
                <label for="age-input" class="form-label">Age</label>
                <input type="number" class="form-control" id="age-input" />
                <div class="form-text error" id="age-error"></div>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="location-input" class="form-label">Location</label>
                <input type="text" class="form-control" id="location-input" />
                <div class="form-text error" id="location-error"></div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6 col-12">
               <label class="form-label" for="build-input"
                  >Build</label
                >
                <select class="form-select" id="build-input">
                  <option selected> Build </option>
                  <option value="slim">Slim</option>
                  <option value="athletic">Athletic</option>
                  <option value="medium">Medium</option>
                   <option value="curvy">Curvy</option>
                  <option value="large">Large</option>
                </select>
                <div class="form-text error" id="build-error"></div>
              </div>
              <div class="mb-3 col-md-6 col-12">
                <label for="height-input" class="form-label">Height (M)</label>
                <input
                  type="number"
                  step="0.01"
                  value="1.25"
                  min="0"
                  class="form-control"
                  id="height-input"
                />
                <div class="form-text error" id="height-error"></div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-4 col-12">
                <label class="visually-hidden" for="autoSizingSelect"
                  >Preference</label
                >
                <select class="form-select" id="gender-input">
                  <option selected>Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <div class="form-text error" id="gender-error"></div>
              </div>
              <div class="col-md-4 col-12">
                <label class="visually-hidden" for="autoSizingSelect"
                  >Preference</label
                >
                <select class="form-select" id="sexuality-input">
                  <option selected>Sexuality</option>
                  <option value="straight">Straight</option>
                  <option value="bisexual">Bisexual</option>
                  <option value="gay">Gay</option>
                  <option value="other">Other</option>
                </select>
                <div class="form-text error" id="sexuality-error"></div>
              </div>
              <div class="col-md-4 col-12">
                <label class="visually-hidden" for="autoSizingSelect"
                  >Preference</label
                >
                <select class="form-select" id="seriousness-input">
                  <option selected>Seriousness</option>
                  <option value="low">Fling Ting</option>
                  <option value="medium">Lets see where it goes</option>
                  <option value="high">Marry Me</option>
                </select>
                <div class="form-text error" id="seriousness-error"></div>
              </div>
        
            <div class="row">
              <div class="mb-3">
                <label for="aboutMe-input" class="form-label mt-4">About Me </label>
                <textarea cols="30" rows="10"  type="text"
                class="form-control"
                id="aboutMe-input"></textarea>
                <div class="form-text error" id="aboutMe-error"></div>
              </div>
            </div>

            <button type="submit" class="btn btn-styling">
              Create Account
            </button>
          </form>
        </div>
      </div>
    </main>