<header>
  {{> public-navbar}}
</header>

<main class="background">
<div class="container">
  <div class="mx-auto my-4">
    <h1 class="text-center">Sign Up Form</h1>
    <hr />
    <form id="signup-form" class="p-4">
      <div class="mb-3">
        <label for="username-input" class="form-label">Name</label>
        <input type="text" class="form-control" id="username-input" />
      </div>
      <div class="mb-3">
        <label for="email-input" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email-input"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" />
      </div>
      <div class="mb-3">
        <label for="confirm-password-input" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirm-password-input"
        />
      </div>
      <div class="mb-3">
        <label for="age-input" class="form-label">Age</label>
        <input type="text" class="form-control" id="age-input" />
      </div>
      <div class="mb-3">
        <label for="location-input" class="form-label">Location</label>
        <input type="text" class="form-control" id="location-input" />
      </div>

      <button type="submit" class="btn btn-styling">Create Account</button>
    </form>
  </div>
</div>
</main>