:root {
  --dark: #000000;
  --pure: #ffffff;

  /* light mode */
  --mellow-apricot: #f7b267ff;
  --atomic-tangerine: #f79d65ff;
  --coral: #f4845fff;
  --bittersweet: #f27059ff;
  --fire-opal: #f25c54ff;
  --hot-pink: #ff0a54;

  /* dark mode */
  --paradise-pink: #fd0363ff;
  --rose-red: #cc095dff;
  --jazzberry-jam: #9c1057ff;
  --byzantium: #6b1650ff;
  --russian-violet: #3b1d4aff;
  --oxford-blue: #0a2344ff;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(245, 227, 63, 0);
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Anton", sans-serif;
}

.background {
  background-image: linear-gradient(
    to left bottom,
    #ff0a54,
    #ff524b,
    #ff784b,
    #fb9754,
    #f7b267
  );
}

.nav-item {
  font-family: "Anton", sans-serif;
}

.navbar-nav .nav-link {
  padding-left: 2rem;
}

.navbar-custom .navbar-text {
  font-size: 1.5rem;
}

.profile-card {
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(214, 4, 127, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(228, 9, 119, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(228, 8, 81, 0.09) 0px -3px 5px;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.card-summary {
  position: absolute;
  top: 13rem;
  width: 16rem;
  margin: 15px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card {
  border: none;
}

.hr {
  max-width: 60%;
  color: var(--dark-yellow);
  border-radius: 50%;
}

.profile-links {
  display: flex;
  justify-content: space-around;
}

.btn-style {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(184, 11, 118, 0.12) 0px -12px 30px,
    rgba(209, 20, 216, 0.12) 0px 4px 6px, rgba(218, 10, 79, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-btn:hover,
.btn-style:hover {
  background-color: var(--hot-pink);
  color: white;
  transform: scale(1.1);
}

.text-btn {
  font-weight: 700;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(184, 11, 118, 0.12) 0px -12px 30px,
    rgba(209, 20, 216, 0.12) 0px 4px 6px, rgba(218, 10, 79, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.jumbotron-styling {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.lead {
  font-weight: 500;
}

.pink-text {
  color: var(--hot-pink);
}

.btn-styling {
  width: auto;
  background-color: var(--hot-pink);
  color: white;
  border-radius: 10px;
}
.btn-styling:hover {
  color: yellow;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(184, 11, 118, 0.12) 0px -12px 30px,
    rgba(209, 20, 216, 0.12) 0px 4px 6px, rgba(218, 10, 79, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.video-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  /* z-index: 69; */
  overflow: hidden;
}

.form-label {
  color: var(--hot-pink);
}
.form-control:hover,
.form-control:active {
  border: 1px solid #dc3589;
}
.subheading-txt {
  color: var(--hot-pink);
}

.signup-form {
  background-color: #ffffff2e;
  border-radius: 10px;
}
