<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- Google fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Style sheet -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>


    <div class="advance-form-container d-flex justify-content-center">
      
    <form class="advance-form card m-3 p-2" style="width: 24rem;" id="search-form">
      <h5 class="text-center">Advance Search</h5>
      <div class="row text-center m-3">
        
        <div class="col">
          <label for="gender">Gender</label>
          <select id="gender-select" class="form-select">
            <option id="female-gender">Female</option>
            <option id="male-gender">Male</option>
            <option id="other-gender">Other</option>
          </select>
        </div>
        
        <div class="col">
          <label for="build">Build </label>
          <select id="build-select" class="form-select">
            <option id="large-build">Large</option>
            <option id="curvy-build">Curvy</option>
            <option id="medium-build">Medium</option>
            <option id="slim-build">Slim</option>
            <option id="athletic-build">Athletic</option>
          </select>
        </div>
       
        <div class="col">
          <label for="serious">Seriousness</label>
        <select id="serious-select" class="form-select">
          <option id="low-serious">❤️</option>
          <option id="medium-serious">❤️❤️</option>
          <option id="high-serious">❤️❤️❤️</option>
        </select>
        </div>
        </div>
        
        <div class="age-range row justify-content-center m-3">
        <label for="customRange1" class="form-label"> Age </label>
      <input type="range" class="form-range" min="18" max="70" id="customRange1">
    </div>
    
    <div class="location-range row justify-content-center m-3">
      <label for="customRange1" class="form-label">Location </label>
      <input type="range" class="form-range" min="5" max="100" id="customRange1"> </div>
      
      <div class="height-range row justify-content-center m-3">
        <label for="customRange1" class="form-label">Height </label>
        <input type="range" class="form-range" min="100" max="250" id="customRange1"> </div>
        
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary text-center">Submit</button>
          </div>
     
    </form>
  </div>



<!-- yes or no function for mobile rendering 
    <div class="swipe-no">
        <button type="button" id="no" class="btn btn-danger float-left m-5" >No</button>
        </div>
     <div class="swipe-yes">
        <button type="button" id="yes" class="btn btn-success float-right m-5">Yes</button>
    </div> -->
    
    <div class="profile-container">

  
    </div>
   
  </body>
</html>
  </body>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
  <script src="./assets/js/script.js"></script>
</html>
